{% extends '_partials/base.html' %}
<!-- Block title -->
{% block html_title %}EP | Password Reset{% endblock %}
{% block content %}

  {% load crispy_forms_tags %}

  <!--Reset Password-->
  <div class="row justify-content-center mt-5">

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">


          <h4 class="font-weight-bold mt-3 text-center">Reset Password</h4>
          <hr>
          <p>Forgotten your password?</p><p> Enter your email address below, and we'll email instructions for setting a new one.</p>

          <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <button class="btn btn-success btn-sm mt-3" type="submit">Send email</button>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
