{% extends '_partials/base.html' %}
<!-- Block title -->
{% block html_title %}EP | Password Reset{% endblock %}
{% block content %}

  {% load crispy_forms_tags %}
  <br>
  <!--Reset Password-->
  <div class="container bg-white shadow-md">
    <div class="row justify-content-center">




      <h4 class="font-weight-bold mt-3 text-center">Reset Password</h4>


      <p class="text-center"><strong>Forgotten Your Password?</strong></p>
      <p class="text-center">Enter your email below and
        we'll email you email you instructions to set a new one
      </p>
      <div class="col-md-4 mx-auto">
        <form method="POST">
          {% csrf_token %}
          {{ password_reset_form|crispy }}
          <br><br>
          <button type="submit" class="btn btn-info btn-log w-100 btn-block p-3"><i class="fa-solid fa-envelope"></i>&nbsp;Submit</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
