{% load common_filters %}
<div class="row">

  <div class="col-md-12 fw-bold fs-3"><h5 class="text-center"><i class="fa-solid fa-chart-area"></i> &nbsp;&nbsp;Contract Statistics Snapshot</h5></div>
  <hr>
  <p class="text-center">Total Contracts Under Management: {% total_contracts %}</p></div>

<br>

<div class="row mt-2">
  <div class="col-md-4 mb-4">
    <div class="card text-white bg-dark  h-100">

      <div class="card-body">
        <h5 class="card-title text-center"><i class="fa-solid fa-chart-simple"></i>&nbsp; Contract Summary</h5>

        <hr>
        <ul>
          <li>Gas Contracts: {% total_gas_contracts %}</li>
          <li>Electricity Contracts: {% total_electricity_contracts %}</li>
          <li>Seamless Contracts: {% total_seamless_contracts %}</li>
          <li>Non Seamless Contracts: {% total_non_seamless_contracts %}</li>
          <li> Total Contracts OOC: {% total_ooc_contracts %}</li>
          <li>EAC Value: {% total_contract_eac_value %}</li>
          <li> Total Contracts Under Objection: {% total_under_objection_outstanding_contracts %}</li>
          <li>EAC Value Contracts Under Objection: {% total_value_under_objection_outstanding_contracts %}</li>
          <li> <a href="{% url 'contracts:directors_approval_list' %}">Requiring Directors Approval: {% total_directors_approval_contracts %} <br></a></li>


        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card text-white bg-primary h-100">
      <div class="card-body">
        <h5 class="card-title text-center"><i class="fa-solid fa-chart-pie"></i> &nbsp;&nbsp;Contract Breakdown</h5>

        <hr>
        <ul>
          <li>Total SSE Contracts: {% total_sse_contracts %}</li>
          <li>Total Crown Contracts: {% total_crown_contracts %}</li>
          <li>Total Corona Contracts: {% total_corona_contracts %}</li>
          <li>Total Pozitive Contracts: {% total_pozitive_contracts %}</li>
          <li>Total Encore Contracts: {% total_encore_contracts %}</li>
          <li>Total HML Contracts: {% total_hml_contracts %}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card text-white bg-success h-100">
      <div class="card-body">

        <h5 class="card-title text-center"><i class="fa-solid fa-sterling-sign"></i>&nbsp;&nbsp;Contract Values</h5>

        <hr>
        <ul>
          <li>Total Contract Value: £{% total_contract_value %}<br></li>
          <li>Electricity Contract Value: £{% total_electricity_contract_values %}</li>
          <li>Gas Contract Value: £{% total_gas_contract_values %}</li>
          <li> Total SSE Contract Value: £{% total_sse_contract_value %}</li>
          <li>Total Encore Contract Value: £{% total_encore_contract_values %}</li>
          <li> Total HML Contract Value: £{% total_hml_contract_values %}</li>

        </ul>
      </div>
    </div>
  </div>
</div>
