{% load common_filters %}
<div class="container-responsive">
  <div class="row">
    <div class="col-md-12 fw-bold fs-3"><h5 class="text-center"><i class="fa-solid fa-chart-area fa-2x stats"></i> &nbsp;&nbsp;Contract Statistics Snapshot</h5></div>

    <p class="text-center mt-3"><strong> Total Contracts Under Management:{% total_contracts %}</strong></p>

  </div>
  <div class="row">
    <div class="col-lg-4 py-3">
      <div class="bg-white shadow-sm rounded-3 d-flex justify-content-between p-4">
        <div>
          <p class="fs-6 fw-bold">Contract Summary</p>
          <ul class="list-unstyled">
            <li>Gas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% total_gas_contracts %}</li>
            <li>Electricity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% total_electricity_contracts %}</li>
            <li>Seamless:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% total_seamless_contracts %}</li>
            <li>Non Seamless:&nbsp;&nbsp; {% total_non_seamless_contracts %}</li>
          </ul>

        </div>
        <i class="fa-solid fa-chart-pie fa-2x stats"></i>



      </div>
    </div>
    <div class="col-lg-4 py-3">
      <div class="shadow-sm rounded-3 d-flex justify-content-between p-4">
        <div>
          <p class="fs-6 fw-bold">Contracts By Main Suppliers</p>
          <ul class="list-unstyled">
            <li>SSE Contracts: &nbsp;&nbsp;&nbsp;&nbsp; {% total_sse_contracts %}</li>
            <li>Crown Contracts: &nbsp;&nbsp;&nbsp;&nbsp; {% total_crown_contracts %}</li>
            <li>Corona Contracts: &nbsp; {% total_corona_contracts %}</li>
            <li>Pozitive Contracts: &nbsp;&nbsp; {% total_pozitive_contracts %}</li></ul>
        </div>
        <i class="fa-solid fa-bolt fa-2x stats"></i>

      </div>
    </div>
    <div class="col-lg-4 py-3">
      <div class="bg-white shadow-sm rounded-3 d-flex justify-content-between p-4">
        <div>
          <p class="fs-6 fw-bold">Contracts By Main Clients</p>
          <ul class="list-unstyled">

            <li>Encore Contracts: &nbsp;&nbsp;{% total_encore_contracts %}</li>
            <li>HML Contracts: &nbsp;&nbsp;&nbsp; &nbsp;  {% total_hml_contracts %}</li>

          </ul>

        </div>
        <i class="fa-solid fa-people-arrows fa-2x stats"></i>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 py-3">
        <div class="bg-white shadow-sm rounded-3 d-flex justify-content-between p-4">
          <div>
            <p class="fs-6 fw-bold">Utility Contract Values</p>
            <ul class="list-unstyled">
              <li>Total Value:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £{% total_contract_value %}<br></li>
              <li>Electricity Value:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £{% total_electricity_contract_values %}</li>
              <li>Gas Contract Value:&nbsp;&nbsp; £{% total_gas_contract_values %}</li>
            </ul>

          </div>
          <i class="fas fa-pound-sign fa-2x stats"></i>



        </div>
      </div>
      <div class="col-lg-4 py-3">
        <div class="shadow-sm rounded-3 d-flex justify-content-between p-4">
          <div>
            <p class="fs-6 fw-bold">Main Supplier Contract Values</p>
            <ul class="list-unstyled">
              <li>SSE: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; £{% total_contract_sse_value %}</li>
              <li>Crown: &nbsp;&nbsp;&nbsp;&nbsp; £{% total_contract_crown_value %}</li>
              <li>Corona: &nbsp;&nbsp;&nbsp; £{% total_contract_corona_value %}</li>
              <li>Pozitive: &nbsp;&nbsp;&nbsp;&nbsp; £{% total_contract_pozitive_value %}</li></ul>
          </div>
          <i class="fas fa-pound-sign fa-2x stats"></i>

        </div>
      </div>
      <div class="col-lg-4 py-3">
        <div class="bg-white shadow-sm rounded-3 d-flex justify-content-between p-4">
          <div>
            <p class="fs-6 fw-bold">Contract Queries</p>
            <ul class="list-unstyled">
              <li><a href="{% url 'contracts:out_of_contract_list' %}">Out of Contract: {% total_ooc_contracts %} <br></a></li>
              <li> <a href="{% url 'contracts:directors_approval_list' %}">Requiring Directors Approval: {% total_directors_approval_contracts %} <br></a></li>
              <li> <a href="{% url 'objections:objections_outstanding' %}">Objections Outstanding: {% total_under_objection_outstanding_contracts %} <br></a></li>
              <li><a href="{% url 'objections:objections_pending' %}">Objections Pending: {% total_under_objection_pending_contracts %}</a></li>



            </ul>

          </div>
          <i class="fa-solid fa-question stats fa-2x"></i>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 py-3">
          <div class="bg-white shadow-sm rounded-3 d-flex justify-content-between p-4">
            <div>
              <p class="fs-6 fw-bold">Contracts By Year</p>
              <ul class="list-unstyled">
                <li>Contracts Ending 2023:&nbsp;{% total_2023_contracts %}</li>
                <li>Contracts Ending 2024:&nbsp;{% total_2024_contracts %}</li>
                <li>Contracts Ending 2025:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% total_2025_contracts %}</li>
                <li>Contracts Ending 2026:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% total_2026_contracts %}</li>
                <li>Contracts Ending 2027:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% total_2027_contracts %}</li>
              </ul>

            </div>
            <i class="fa-solid fa-calendar-days fa-2x stats"></i>



          </div>
        </div>
        <div class="col-lg-4 py-3">
          <div class="shadow-sm rounded-3 d-flex justify-content-between p-4">
            <div>
              <p class="fs-6 fw-bold">Contracts By Account Manager</p>
              <ul class="list-unstyled">
                <li>Andrew:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% andrew_contracts %}</li>
                <li>Gayle:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% gayle_contracts %}</li>
                <li>Laurence:&nbsp;&nbsp;&nbsp;&nbsp;{% laurence_contracts %}</li>
                <li>Martin:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% martin_contracts %}</li>
              </ul>
            </div>
            <i class="fa-solid fa-person-circle-check fa-2x stats"></i>

          </div>
        </div>

        <div class="col-lg-4 py-3">
          <div class="shadow-sm rounded-3 d-flex justify-content-between p-4">
            <div>
              <p class="fs-6 fw-bold">Estimated Annual Consumption</p>
              <ul class="list-unstyled">
                <li>Electricity:{% total_eac_electricity %}</li>
                <li>Gas:{% total_eac_gas %}</li>
                <li>Objections Outstanding:{% total_eac_under_objection_outstanding_contracts %}</li>
                <li>Objections Pending:{% total_eac_under_objection_pending_contracts %}</li>

              </ul>
            </div>
            <i class="fa-solid fa-power-off fa-2x stats"></i>


          </div>
        </div>



      </div>
