{% extends '_partials/dashboards/portal_dashboard_base.html' %}
{% load i18n %}
{% block html_title %} {{ html_title }} Contracts {% endblock html_title %}

{% block content %}
  <br>

  <h5 style="text-align:center; margin-bottom:20px;">
    <div class="icon icon-shape bg-success text-white rounded-circle shadow">
      <i class="fa-solid fa-file-signature"></i>
    </div>&nbsp;
    {{ client }} - All Contracts</h5>
  <div class="container mb-4">
    <table class="display" id="client_contracts" style="width:100%; margin-bottom:30px;">
      <thead class="table-success" style="text-align: center;">
        <tr>
          <th>Contract</th>
          <th>Business Name</th>
          <th>Site Address</th>
          <th>MPAN/MPR</th>
          <th>Supplier</th>
          <th>Utility</th>
          <th>CED</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        {% for contract in client.client_contracts.all  %}

          <tr>
            {% if contract.seamless %}
              <td>{% trans "Seamless" %}</td>
            {% elif contract.non_seamless %}
              <td>{% trans "Non Seamless" %}</td>
            {% endif %}
            <td>{{ contract.business_name | title | truncatechars:20 }}</td>
            <td>{{ contract.site_address | truncatechars:20 }}</td>
            <td>{{ contract.mpan_mpr}}</td>
            <td>{{ contract.supplier }}</td>
            <td>{{ contract.utility }}</td>


            {% if contract.is_ooc %}

              <td>{% trans "Out of Contract" %}</td>
            {% else %}
              <td>{{ contract.contract_end_date }} </td>

            {% endif %}
            <td><a href="{% url 'clients:contract_detail' contract.pk %}" class="btn btn-success text-center"><i class="fa-solid fa-plus"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>


{% endblock content %}

{% block extra_js %}
  <script>
    $(document).ready(function() {
      $('#client_contracts').DataTable(
        {
          "dom": '<"dt-buttons"Bf><"clear">lirtp',
          "paging": true,
          "autoWidth": true,
          "columnDefs": [
            { "orderable": false, "targets": 5 }
          ],
          "buttons": [
            'colvis',
            'copyHtml5',
            'csvHtml5',
            'excelHtml5',
            'pdfHtml5',
            'print'
          ]
        });
    });

  </script>
{% endblock extra_js %}
